<app-menu></app-menu>
<div class="chat-container">
    <div class="chat-sidebar">
      <!-- Div para la imagen y la tabla de participantes -->
      <div class="user-info">
        <div class="content-container">
          <div class="imagen-contenedor" >
            <img *ngIf="subasta.producto && subasta.producto.img" [src]="subasta.producto.img" alt="Imagen del producto" />

          </div>
          <!-- Tabla de participantes -->
          <div class="participant-table">
            <table class="participant-table">
              <thead>
                <tr>
                  <th>Participantes:</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let oferente of subasta.oferentes">
                  <td>{{oferente.nombreUsuario}}</td>
                </tr>
              </tbody>
              <!-- Agrega más filas según los participantes -->
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="chat">
      <!-- Zona de chat -->
      <div class="chat-messages">
        <p *ngFor="let oferta of ofertas" class="enviado p-2" [ngClass]="(getNombreUsuarioActual()==oferta.senderEmail)? 'enviado' : 'recibido'">
          {{oferta.replymessage}}
        </p>
      </div>
      <form class="card-footer text-muted input-group" (ngSubmit)="enviarOferta()">
        
          <input type="text" placeholder="Realiza una oferta..."  class="form-control" [(ngModel)]="nuevaOferta"
          [ngModelOptions]="{standalone: true}"/>
          <div class="input-group-append" (click)="enviarOferta()">
            <span class="input-group-text" id="basic-addon2">
              <img class="imgEnviar" src="https://cdn-icons-png.flaticon.com/512/786/786407.png" alt="send message" width="20px">
            </span>
          </div>
      </form>
    </div>
    <!-- Div para el podio -->
    <div class="podium">
      <!-- Tabla de podio -->
      <style>
        .table th:first-child,
        .table td:first-child {
          font-weight: bold;
        }
      </style>
      <table class="table" id="tablaPosi">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ganador en el podio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngIf="subasta.ganador">{{ subasta.ganador.nombreUsuario }}</td>
            <td *ngIf="!subasta.ganador"> </td>
          </tr>
        </tbody>
      </table>
      <div class="action-button" *ngIf="esSubastador()">
        <button (click)="toggleSubasta()" [ngClass]="{ 'green-button': !getEstado(), 'red-button': getEstado() }">
          {{ getEstado() ? 'Finalizar Subasta' : 'Iniciar Subasta' }}
        </button>
        
      </div>
    </div>
    
  </div>
  