<app-menu></app-menu>
<div>
  <div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
  </div>
  <ng-template #loggedOut>
    <section class="signup">
      <div class="container">
          <div class="signup-content">
              <div class="signup-form">
                  <h2 class="form-title">Crear Cuenta</h2>
                  <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
                      <div class="form-group">
                          <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                          <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombre" required />
                      </div>
                      <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de usuario" [(ngModel)]="nombreUsuario" required />
                    </div>
                      <div class="form-group">
                          <label for="email"><i class="zmdi zmdi-email"></i></label>
                          <input type="text" name="email" id="email" placeholder="Correo Electrónico" [(ngModel)]="email" required/>
                      </div>
                      <div class="form-group">
                          <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                          <input type="password" name="password" id="password" placeholder="Contraseña" [(ngModel)]="password" required/>
                      </div>
                      <div class="form-group form-button">
                          <input type="submit" name="signup" id="signup" class="form-submit" value="Crear Cuenta" [disabled]="!f.valid"/>
                      </div>
                  </form>
              </div>
              <div class="signup-image">
                  <figure><img src="./assets/signup-image.jpg" alt="sing up image"></figure>
                  <a href="#" routerLink="/login" class="signup-image-link" style="font-size: 16px; text-decoration: underline;">Iniciar Sesión</a>

              </div>
          </div>
      </div>
  </section>
  </ng-template>
</div>