.lista-subastas {
    position: absolute;
    top: 3rem;
    right: 3rem;
    margin: 1em;
}
#cerrarSesion{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
}

.imagen-lista{
    width: 50px;
    height: auto;
}