<div class="container" *ngIf="isLogged">
    <table class="table" id="tabla">
    <thead class="thead-dark">
      <tr>
        <th scope="col">subastador</th>
        <th scope="col">Producto</th>
        <th scope="col">Participar</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subasta of subastas">
        <td>{{subasta.subastador.nombreUsuario}}</td>
        <td>{{subasta.producto.nombre}}</td>
        <td><button class="btn btn-outline-primary" routerLink="/salaSubasta/{{subasta.id}}"><i class="far fa-eye"></i> Participar</button></td>
      </tr>
    </tbody>
  </table>
  

</div>