#tabla {
    margin: 20px; 
    border: 1px solid #343A40;
    font-size: 14px; /* Establece el tamaño de la fuente */
    margin-bottom: 0; 
} 
  #tabla th,
  #tabla td {
    padding: 0.5rem; /* Ajusta el espacio interno de las celdas */
  }
  
  #tabla button {
    font-size: 12px; /* Establece el tamaño de la fuente para los botones */
  }