.right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%; 
    margin-left: auto;
    margin-bottom: 500px;
}

.row {
    height: 100%;
}
